#row1{
    background-color: rgb(74, 133, 221);
    color: white;
    justify-content: center     ;
}
.row{
    padding-top:10px ;
    justify-content: center;
    text-align: center;
}
#boxmain{
    background-color: white;
    width: 100%;
}
ul{
    margin: 10px 0px;
    padding: 0;
}
li{
    display: flex;
    background-color: whitesmoke;
    justify-content:space-between;
    width: 350px;
    margin: 10px auto;
}
