#row1{
    background-color: rgb(74, 133, 221);
    color: white;
    justify-content: center     ;
}
.row{
    padding-top:10px ;
    justify-content: center;
    text-align: center;
}
#boxmain{
    background-color: white;
    width: 100%;
}
ul{
    margin: 10px 0px;
    padding: 0;
}
li{
    display: flex;
    justify-content:space-between;
    width: 370px;
    margin: 10px auto;
    align-items:center;
    background-color:whitesmoke;
    border-radius:2px;
    padding:10px;
} 
